@import url('/style.css');

.projects {
	text-align: center;
}

.project {
	background-color: #111214;
	margin: 16px;
	display: flex;
	overflow: hidden;
	text-align: left;
}

.project-cover {
	width: 200px;
	height: 200px;
    height: auto;
}

.project-text {
	padding: 8px;
}

.project-text img {
	vertical-align: middle;
	padding-right: 4px;
}

.project-separator {
	height: 1px;
	background-color: gray;
	margin-top: 8px;
	margin-bottom: 8px;
}