<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Can't Sleep {% if self.title() != "home" %}| {% block title %}{% endblock title %}{% endif %}</title>
        <meta name="description" content="{% block description %}{% endblock description %}" />

        <link rel="canonical" href="https://cantsleep.cc{% if self.url() != '/404' %}{% block url %}{% endblock url %}{% endif %}" />
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <link rel="stylesheet" href="/style.css" />

        <meta http-equiv="Content-Language" content="en" />
        <meta name="robots" content="index, follow" />

        <meta property="og:title" content="{{ self.title() }}" />
        <meta property="og:description" content="{{ self.description() }}" />
        <meta property="og:image" content="https://cantsleep.cc{% block image %}/assets/meta.png{% endblock image %}" />
        <meta property="og:url" content="https://cantsleep.cc{{ self.url() }}" />
        <meta property="og:site_name" content="Can't Sleep" />
        <meta property="og:type" content="{% block og_type %}profile{% endblock og_type %}" />

        <link rel="preload" href="/assets/Consolas.ttf" as="font" type="font/ttf" crossorigin />
        <link rel="preload" href="/assets/background.png" as="image" />
        <link rel="preload" href="/assets/gang_hunk.png" as="image" />
        <link rel="preload" href="/assets/icons/home.png" as="image" />
        <link rel="preload" href="/assets/icons/projects.png" as="image" />
        <link rel="preload" href="/assets/icons/book.png" as="image" />
        <link rel="preload" href="/assets/icons/nonk.png" as="image" />
        <link rel="preload" href="/assets/icons/vilebeggar.png" as="image" />
        <link rel="preload" href="/assets/icons/schwungus.png" as="image" />

        {% block head %}{% endblock head %}

        <script defer src="https://umami.schwung.us/script.js" data-website-id="40a0ba16-61a8-407b-a876-1b42949e761c"></script>
        <script type="text/javascript" src="/info.js"></script>
        <script src="https://kit.fontawesome.com/069decd2d9.js" crossorigin="anonymous" ></script>
    </head>

    <body>
        <main>
            <img class="gang" src="/assets/gang_hunk.png" />

            <div class="cols">
                <section id="menu">
                    <section>
                        {% if self.title() == "home" %}
                            <div class="menu-button menu-button-current"><img src="/assets/icons/home.png" />home</div>
                        {% else %}
                            <a href="/"><div class="menu-button"><img src="/assets/icons/home.png" />home</div></a>
                        {% endif %}

                        {% if self.title() == "projects" %}
                            <div class="menu-button menu-button-current"><img src="/assets/icons/projects.png" />projects</div>
                        {% else %}
                            <a href="/projects"><div class="menu-button"><img src="/assets/icons/projects.png" />projects</div></a>
                        {% endif %}

                        <a href="https://cantsleep.atabook.org"><div class="menu-button"><img src="/assets/icons/book.png" />guestbook</div></a>
                    </section>

                    <section>
                        <div class="menu-category"><span>friends<i class="fa fa-external-link"></i></span></div>
                        <a href="https://nonk.dev"><div class="menu-button"><img src="/assets/icons/nonk.png" />nonk</div></a>
                        <a href="https://vilebeggar.github.io"><div class="menu-button"><img src="/assets/icons/vilebeggar.png" />v.beggar</div></a>
                    </section>

                    <section>
                        <div class="menu-category"><span>collectives<i class="fa fa-external-link"></i></span></div>
                        <a href="https://schwung.us"><div class="menu-button"><img src="/assets/icons/schwungus.png"/>schwungus</div></a>
                    </section>
                </section>

                <section id="contents">
                    {% block content %}{% endblock content %}

                    <div class="hr"></div>

                    {% block footer %}
                        <div class="footer">
                            <div>All content &copy; respective owners.</div>
                            <div><img src="/assets/hunkathon.png" id="hunk" title="Photographs by Soh and pieorpi.&#013;Also check out nonk.dev!" /></div>
                            <div id="lastUpdated"></div>
                        </div>
                    {% endblock footer %}
                </section>
            </div>
        </main>
    </body>
</html>
