@font-face {
    font-family: Consolas;
    src: url("/assets/Consolas.ttf");
}

a {
    color: #598eb2;
}

img {
    max-width: 100%;
}

body {
    font-family: Consolas, monospace;
    font-size: 15px;
    line-height: 1.25;
    max-width: 768px;
    height: 600px;
    margin: 32px auto;
    color: white;
    background: url("/assets/background.png") no-repeat center center fixed;
    background-size: cover;
    background-color: #232629;
    overflow-y: hidden;
}

.gang {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    overflow: hidden;
    opacity: 0.25;
    mix-blend-mode: overlay;
    z-index: -10;
    user-select: none;
}

.cols {
    display: flex;
    justify-content: center;
}

#menu {
    width: max-content;
    flex-shrink: 0;
    overflow: auto;
    max-height: calc(100vh - 64px);
    min-height: calc(64px);
}

#menu section {
    margin-bottom: 16px;
}

.menu-category {
    background: linear-gradient(to right, transparent, #232629);
    padding-left: 4px;
    margin-bottom: 1px;
    font-size: 64%;
    user-select: none;
}

.menu-category span {
    opacity: 50%;
}

.menu-category i {
    margin-left: 4px;
    font-size: 80%;
}

#menu a {
    color: inherit;
    text-decoration: none;
}

.menu-button {
    background-color: #232629;
    padding: 8px;
    margin-bottom: 1px;
    white-space: nowrap;
    user-select: none;
}

.menu-button img {
    vertical-align: middle;
    padding-right: 8px;
}

.menu-button:hover {
    background: linear-gradient(to right, gray, #232629);
}

.menu-button-current {
    font-weight: bold;
    background: linear-gradient(to right, gray, #232629);
}

#contents {
    background-color: #232629;
    padding: 32px;
    overflow: auto;
    width: 100%;
    max-height: calc(100vh - 128px);
}

h1 {
    margin: 32px 0;
}

h1 span {
    background-color: white;
    color: #232629;
    padding: 0 10px 0 8px;
    border-radius: 16px 16px 0 0;
    display: inline-block;
}

h1::after {
    display: block;
    content: "";
    height: 1px;
    background: linear-gradient(to right, white, gray);
}

h2 {
    text-align: center;
    font-size: 200%;
    margin: 0 auto 32px auto;
}

.hr {
    width: 100%;
    height: 1px;
    margin: 32px 0;
    background-color: gray;
}

.links {
    text-align: center;
    font-size: 40px;
    vertical-align: middle;
    user-select: none;
}

.links img {
    width: 40px;
    height: auto;
}

.links p {
    font-size: 15px;
}

#links-description {
    opacity: 50%;
    user-select: text;
}

.footer {
    font-size: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#status {
    display: none;
    height: fit-content;
    margin: 16px auto 32px auto;
    align-items: center;
    justify-content: center;
}

#status > *:not(:first-child) {
    margin-left: -16px;
}

#statuscafe {
    width: fit-content;
    max-width: 240px;
    color: #232629;
    background: white;
    padding: 8px 16px;
    border-radius: 32px;
    overflow: hidden;
    text-align: center;
}

#status-head {
    z-index: 1;
}

#status img[src="/assets/heads/hunk.png"] {
    width: 9%;
    transform: translateX(-2px);
}

#status img[src="/assets/heads/junktroop.png"] {
    width: 12%;
    transform: translate(2px, -10px);
}

#status img[src="/assets/heads/burge.png"] {
    width: 16%;
    transform: translateY(-8px);
}

#status img[src="/assets/heads/video.png"] {
    width: 15%;
    transform: translate(2px, -8px);
}

#statuscafe-username {
    font-size: 80%;
    margin-bottom: 0.25em;
}

#hunk {
    width: 48px;
}

#hunk:hover {
    animation: shake 0.25s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

#modal-popup {
    visibility: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
    background: transparent;
    transition: 0.2s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#modal-popup.up {
    visibility: visible;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

#modal-popup > img,
#modal-popup > video {
    max-width: 80%;
    max-height: 80%;
}

#modal-popup > p {
    text-align: center;
    word-wrap: break-word;
}
