@font-face {
    font-family: Consolas;
    src: url("/assets/consola.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Consolas;
    src: url("/assets/consolab.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Consolas;
    src: url("/assets/consolai.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Consolas;
    src: url("/assets/consolaz.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: #598eb2;
}

img {
    max-width: 100%;
}

body {
    width: 800px;
    height: max-content;
    padding: 32px;
    margin: 0 auto;

    font-family: Consolas, monospace;
    font-size: 15px;
    line-height: 1.25;
    color: white;

    background: url("/assets/background.png") no-repeat center center fixed;
    background-size: cover;
    background-color: #232629;
}

.gang {
    position: fixed;
    right: 0;
    bottom: 0;

    width: auto;
    max-width: none;
    height: 100%;

    object-fit: contain;
    overflow: hidden;
    user-select: none;

    opacity: 0.25;
    mix-blend-mode: overlay;
    z-index: -10;
}

.cols {
    display: flex;
    justify-content: center;
}

#menu {
    width: max-content;
    flex-shrink: 0;

    section {
        margin-bottom: 16px;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.menu {
    &-category {
        padding-left: 4px;
        margin-bottom: 1px;

        font-size: 64%;
        background: linear-gradient(to right, transparent, #232629);

        user-select: none;

        span {
            opacity: 50%;
        }

        i {
            margin-left: 4px;
            font-size: 80%;
        }
    }

    &-button {
        padding: 8px;
        margin-bottom: 1px;

        white-space: nowrap;
        user-select: none;

        background-color: #232629;

        img {
            padding-right: 8px;
            vertical-align: middle;
        }

        &:hover {
            background: linear-gradient(to right, gray, #232629);
        }

        &-current {
            font-weight: bold;
            background: linear-gradient(to right, gray, #232629);
        }
    }
}

#contents {
    width: 100%;
    padding: 32px;

    background-color: #232629;
    overflow: auto;
}

h1 {
    margin: 32px 0;

    span {
        display: inline-block;
        color: #232629;
        background-color: white;

        padding: 0 10px 0 8px;
        border-radius: 16px 16px 0 0;
    }

    &:after {
        height: 1px;

        display: block;
        content: "";
        background: linear-gradient(to right, white, gray);
    }
}

h2 {
    text-align: center;
    font-size: 200%;

    margin: 0 auto 32px auto;
}

.hr {
    width: 100%;
    height: 1px;
    margin: 32px 0;

    background-color: gray;
}

.links {
    text-align: center;
    font-size: 40px;
    vertical-align: middle;

    user-select: none;

    img {
        width: 40px;
        height: auto;
    }

    p {
        font-size: 15px;
    }
}

#links-description {
    opacity: 50%;
    user-select: text;
}

.footer {
    font-size: 80%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#status {
    height: fit-content;
    margin: 16px auto 32px auto;

    display: none;
    align-items: center;
    justify-content: center;

    & > *:not(:first-child) {
        margin-left: -16px;
    }

    &cafe {
        width: fit-content;
        max-width: 240px;
        padding: 8px 16px;

        color: #232629;
        background: white;

        border-radius: 32px;
        overflow: hidden;
        text-align: center;

        &-username {
            font-size: 80%;
            margin-bottom: 0.25em;
        }
    }

    &-head {
        z-index: 1;
    }

    img[src="/assets/heads/hunk.png"] {
        width: 9%;
        transform: translateX(-2px);
    }

    img[src="/assets/heads/junktroop.png"] {
        width: 12%;
        transform: translate(2px, -10px);
    }

    img[src="/assets/heads/burge.png"] {
        width: 16%;
        transform: translateY(-8px);
    }

    img[src="/assets/heads/video.png"] {
        width: 15%;
        transform: translate(2px, -8px);
    }
}

#hunk {
    width: 48px;

    &:hover {
        animation: shake 0.25s;
        animation-iteration-count: infinite;
    }
}

@keyframes shake {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

#modal-popup {
    width: 100%;
    height: 100%;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;

    visibility: hidden;
    background: transparent;
    transition: 0.2s;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.up {
        visibility: visible;
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }

    & > img,
    & > video {
        max-width: 80%;
        max-height: 80%;
    }

    & > p {
        text-align: center;
        word-wrap: break-word;
    }
}
