{% extends "_base.html" %}

{% block title %}projects{% endblock title %}
{% block description %}What are these?{% endblock description %}
{% block url %}/projects{% endblock url %}

{% block head %}<link rel="stylesheet" href="/projects/style.css" />{% endblock head %}

{% block content %}
    <h2>projects</h2>

    <p>
        These are every publicly available project that I have been a part of.
    </p>

    <p>I work on these in my own time, which is often sparse these days.</p>

    <h1><span>original</span></h1>

    <div class="project">
        <img src="/projects/assets/dnb.png" class="project-cover" alt="DNB" />

        <div class="project-text">
            <img src="/assets/icons/wip.png" title="Work in Progress" /><img src="/assets/icons/game.png" title="Game" /><a href="https://mightcer.itch.io/dnb"><b>DNB</b></a>
            <sub>Mightcer, 2025</sub>
            <div class="project-hr"></div>
            A casual game with short levels and a high skill ceiling. Dash and
            concuss your way to the end of each level as fast as you can.<br />
            <br />I designed Gilbert and the sound effects.
        </div>
    </div>

    <h1><span>doom</span></h1>

    <div class="project">
        <img src="/projects/assets/ntmai.png" class="project-cover" />

        <div class="project-text">
            <img src="/assets/icons/game.png" title="Game" alt="Nobody Told Me About id" /><a href="/ntmai"><b>Nobody Told Me About id</b></a>
            <sub>2020</sub>
            <div class="project-hr"></div>
            A gameplay mod for GZDoom that makes DOOM feel more like a Build
            Engine game by replicating quirks from Duke Nukem 3D, Blood and
            Shadow Warrior.<br />
            <br />Won a Gameplay Mod Award on Doomworld's
            <a href="https://www.doomworld.com/cacowards/2020/gameplay">2020 Cacowards</a>.
        </div>
    </div>
{% endblock content %}
