.project {
    margin: 16px 0;

    display: flex;
    overflow: hidden;

    background-color: #111214;

    &-cover {
        min-width: 200px;
        min-height: 200px;

        margin: auto 0;

        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            max-width: 100%;
            max-height: 100%;

            display: block;
            object-fit: contain;
            object-position: center;
        }
    }

    &-text {
        padding: 8px;

        img {
            vertical-align: middle;
            padding-right: 0.25em;
        }

        i {
            font-size: 75%;
            vertical-align: middle;
            margin-left: 0.5em;
            margin-right: -0.25em;

            opacity: 60%;
        }

        sub {
            vertical-align: middle;
            margin-left: 0.75em;
        }

        ul {
            padding: 0 1em;
            margin: 0;

            opacity: 70%;

            a {
                color: #82aac5;
            }
        }
    }

    &-hr {
        height: 1px;
        margin: 8px 0;

        background-color: gray;
    }
}
