.project {
    margin: 16px 0;

    display: flex;
    overflow: hidden;

    background-color: #111214;

    &-cover {
        max-width: 50%;
        width: 200px;
        height: auto;

        margin: auto 0;
    }

    &-text {
        padding: 8px;

        img {
            vertical-align: middle;
            padding-right: 4px;
        }

        sub {
            vertical-align: middle;
            margin-left: 0.75em;
        }
    }

    &-hr {
        height: 1px;
        margin: 8px 0;

        background-color: gray;
    }
}
