@import url("/style.css");

.project {
    background-color: #111214;
    margin: 16px 0;
    display: flex;
    overflow: hidden;
}

.project-cover {
    max-width: 50%;
    width: 200px;
    height: auto;
    margin: auto 0;
}

.project-text {
    padding: 8px;
}

.project-text img {
    vertical-align: middle;
    padding-right: 4px;
}

.project-hr {
    height: 1px;
    background-color: gray;
    margin-top: 8px;
    margin-bottom: 8px;
}
