@import url('characters.css');

body {
    background-color: #FCFFF9;
}

.background {
    background: url("assets/video_background.png");
    background-size: cover;
    background-position: center;
}

.container-content {
    background-color: #FCFFF9;
    color: black;
}

.container-vitals {
    background-color: #63E400;
}

.misc-page {
    color: black;
}

.misc-page h1 {
    color: #63E400;
}

.misc-footer-logo {
    filter: invert(1);
}