<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Nobody Told Me About id</title>
        <meta name="description" content="Build Engine-styled gameplay mod for GZDoom" />

        <link rel="canonical" href="https://cantsleep.cc/ntmai" />
        <link rel="icon" type="image/x-icon" href="/ntmai/assets/favicon.ico" />
        <link rel="stylesheet" href="/ntmai/style.css" />

        <meta http-equiv="Content-Language" content="en" />
        <meta name="robots" content="index, follow" />

        <meta property="og:title" content="Nobody Told Me About id" />
        <meta property="og:description" content="Build Engine-styled gameplay mod for GZDoom" />
        <meta property="og:image" content="https://cantsleep.cc/ntmai/assets/meta.png" />
        <meta property="og:url" content="https://cantsleep.cc/ntmai" />
        <meta property="og:site_name" content="Can't Sleep" />
        <meta property="og:type" content="profile" />

        <link rel="preload" href="/assets/consola.ttf" as="font" type="font/ttf" crossorigin />
        <link rel="preload" href="/assets/consolab.ttf" as="font" type="font/ttf" crossorigin />
        <link rel="preload" href="/assets/consolai.ttf" as="font" type="font/ttf" crossorigin />
        <link rel="preload" href="/assets/consolaz.ttf" as="font" type="font/ttf" crossorigin />
        <link rel="preload" href="/ntmai/assets/ntmai.png" as="image" />
        <link rel="preload" href="/ntmai/assets/logo.png" as="image" />

        <script defer src="https://umami.schwung.us/script.js" data-website-id="40a0ba16-61a8-407b-a876-1b42949e761c" ></script>
        <script defer src="/modal.js"></script>
        <script defer src="/info.js"></script>
    </head>

    <body>
        <img src="/ntmai/assets/ntmai.png" class="cover" alt="Cover" />

        <div class="contents">
            <header>
                <img src="/ntmai/assets/logo.png" alt="Nobody Told Me About id" />
                <span class="subtitle">BUILD ENGINE-STYLE GAMEPLAY MOD FOR GZDOOM</span>

                <p>
                    [
                    <a href="https://github.com/LocalInsomniac/NTMAi">GITHUB</a>
                    |
                    <a href="https://github.com/LocalInsomniac/NTMAi/releases/latest">DOWNLOAD</a>* |
                    <a href="https://discord.gg/RxWqRb2uQB">DISCORD</a>
                    ]<br /><br />
                    <sub>*Requires GZDoom 4.14 or newer and a copy of DOOM.</sub>
                </p>
            </header>

            <div class="hr"></div>

            <div class="gallery">
                <img src="/ntmai/assets/screenshot1.png" class="modal" alt="MAYhem 2019, MAP01: Spiteful Hall" />
                <img src="/ntmai/assets/screenshot2.png" class="modal" alt="AUGER;ZENITH, MAP01: Glass Messiah" />
                <img src="/ntmai/assets/screenshot3.png" class="modal" alt="Scythe 2, MAP32: Super Secret" />
                <img src="/ntmai/assets/screenshot4.png" class="modal" alt="DOOM, E3M8: Dis" />
            </div>

            <div class="hr"></div>

            <main>
                <section>
                    <h2>DOOM FROM AN ALTERNATE UNIVERSE</h2>

                    <b>Nobody Told Me About id</b> is a love letter from DOOM
                    fans to the iconic trinity of Build Engine games; Duke Nukem
                    3D, Blood and Shadow Warrior. Whether it be ludicrous gibs
                    or explosions, NTMAi tries its best to faithfully replicate
                    all things Build on DOOM while also enhancing vanilla
                    gameplay. Your arsenal may be tough, but some enemies will
                    have a trick or two up their sleeves...<br /><br />
                    NTMAi originally started off as a small project during
                    summer 2019. It went on to
                    <a href="https://www.doomworld.com/cacowards/2020/gameplay/">win a Cacoward in 2020</a>
                    and eventually got rebooted to a much better state in early
                    2023.
                </section>

                <div class="vr"></div>

                <section>
                    <h2>HURT ME PLENTY MORE</h2>

                    Want some extra challenge? NTMAi also comes with built-in
                    special support for the following WADs:

                    <ul>
                        <li><a href="https://www.doomworld.com/forum/topic/125461">AD MORTEM</a></li>
                        <li><a href="https://www.doomworld.com/idgames/levels/doom2/Ports/megawads/dbp37_augzen">AUGER;ZENITH</a></li>
                        <li><a href="https://www.doomworld.com/idgames/levels/doom2/megawads/d64d2">DOOM 64 for DOOM II</a></li>
                        <li><a href="https://www.doomworld.com/idgames/levels/doom2/Ports/megawads/eviternity">Eviternity</a></li>
                        <li><a href="https://www.doomworld.com/idgames/levels/doom2/Ports/megawads/mayhem19">MAYhem 2019</a></li>
                        <li><a href="https://www.doomworld.com/idgames/?id=13600">Scythe 2</a></li>
                    </ul>

                    Playing these will automatically enable unique content;
                    maybe even some new weapons and monsters to play with!
                    <br /><br />
                    For maximum compatibility, make sure to load NTMAi
                    <b>after</b> any of these WADs, otherwise you might get
                    weird results.
                </section>
            </main>

            <div class="hr"></div>

            <footer class="footer">
                <div class="footer-page"><a href="/"><img src="/assets/logo.png" class="footer-logo" alt="Can't Sleep" /></a></div>

                <div class="footer-page2">
                    This is a non-profit fan project.<br />
                    Artwork by 3D Realms, edited by Kinsie.<br />
                    Logo by Craneo.<br /><br />
                    All content &copy; respective owners.<br />
                    <span id="lastUpdated"></span>
                </div>
            </footer>
        </div>
    </body>
</html>
